.bookinfo {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #413C3A;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.bookinfo h1 {
    font-size: 2rem;
    color: #f4f4f4;
    text-align: center;
}

.bookinfo h2 {
    font-size: 1.5rem;
    color: #555;
    text-align: center;
    margin-bottom: 20px;
}

.bookinfo ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.bookinfo li {
    font-size: 1rem;
    color: #f4f4f4;
    padding: 8px 0;
    border-radius: 1px solid #ddd;
}

.bookinfo li:last-child {
    border-bottom: none;
}

.bookinfo li span {
    font-weight: bold;
    color: #333;
}

.bookinfo li:hover {
    background-color: #555;
}

.bookinfo-image {
    max-width: 50%;
    max-height: 50%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.edit-btn {
    background-color: #1a0e0e;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 0.8rem;
    transition: background-color 0.3s ease;
}

.form-text {
    color: white;
    margin-top: 2px;
}

.btn {
    font-size: 1rem;
    cursor: pointer;
    padding: .5rem;
    margin-bottom: .5rem;
}

.save-btn {
    margin-right: 20px;
    margin-top: 2px;
}

.cancel-btn {
    background-color: #f44336;
    color: white;
}

.cancel-btn:hover {
    background-color: #85211a;
}

/* mindre skärmar */
@media (max-width: 768px) {
    .bookinfo {
        max-width: 90%;
        padding: 15px;
    }

    .bookinfo h1 {
        font-size: 1.8rem;
    }

    .bookinfo h2 {
        font-size: 1.2rem;
    }

    .bookinfo li {
        font-size: 0.9rem;
    }

    .bookinfo-image {
        max-width: 60%;
    }
}

@media (max-width: 480px) {
    .bookinfo {
        max-width: 95%;
    }

    .bookinfo h1 {
        font-size: 1.5rem;
    }

    .bookinfo h2 {
        font-size: 1rem;
    }

    .bookinfo li {
        font-size: 0.8rem;
        padding: 6px 0;
    }

    .bookinfo-image {
        max-width: 70%;
    }

    .edit-btn,
    .btn {
        font-size: 0.9rem;
        padding: 0.4rem 0.8rem;
    }

}