@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #292929;
    color: #fff;
    padding: 1rem;
}

.navbar a {
    font-family: "Krub", sans-serif;
    font-size: 2rem;
    text-decoration: none;
    transition: .3s;
    cursor: pointer;
}

.nav-links {
    display: flex;
    width: 100%;
}

.nav-links a {
    color: rgb(236, 236, 236);
    text-decoration: none;
    font-size: 2rem;
}

.nav-links a:first-child {
    font-size: 3rem;
    font-weight: bold;
    margin-left: 5px;
}

.nav-links a:last-child {
    margin-left: auto;
    /* flyttar "Book list" till höger */
    margin-top: 8px;
    margin-right: 5px;
}

.navbar a:hover {
    color: #616161;
}

.active-link {
    font-weight: bold;
    text-decoration: underline;
}