.error-main {
    width: 100vw;
    height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-main p {
    color: rgb(46, 46, 46);
}

.error-main p:hover {
    color: rgb(24, 24, 24);
}

.code-404 {
    font-size: 50px;
    font-weight: 700;
    margin-top: 14rem;
}

.error-msg {
    font-size: 20px;
    font-style: italic;
}